<div  class="grid">
    <div class="col-12">
        <div class="card">
            <p-toast></p-toast>
            <h5>Manage Projects</h5>
            <p-table
                #dt1
                [value]="projects"
                [scrollable]="true"
                scrollHeight="500px"

                scrollDirection="both"
                dataKey="id"
                [rows]="10"
                [loading]="loading"
                [rowHover]="true"
                styleClass="p-datatable-gridlines"
                [paginator]="true"
                [globalFilterFields]="['name','country.name','representative.name','status']"
                responsiveLayout="scroll"
            >
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <!-- Group for Clear and Add button side by side with space in between -->
                        <div class="flex gap-2">
                            <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                                    (click)="clear(dt1)"></button>
                            <button pButton label="New" class="p-button-outlined" icon="pi pi-plus"
                                    (click)="openNewPoject()"></button>
                            <button *ngIf="multipleSelectionSwitch" pButton label="Remove" class="p-button-outlined" icon="pi pi-trash"
                                    (click)="confirmRemove()" [disabled]="true"></button>
                        </div>
                        <span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword" class="w-full"/>
						</span>
                    </div>
                </ng-template>

<!--                <ng-template pTemplate="frozenheader">-->
<!--                    <tr>-->
<!--                        <th style="min-width: 12rem">-->
<!--                            <div class="flex justify-content-between align-items-center">-->
<!--                                Project Name-->
<!--                                <p-columnFilter type="text" field="name" display="menu" placeholder="Search by Project name"></p-columnFilter>-->
<!--                            </div>-->
<!--                        </th>-->
<!--                    </tr>-->
<!--                </ng-template>-->

                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 25rem; " pFrozenColumn >
                            <div class="flex justify-content-between align-items-center">
                                Project Name
                                <p-columnFilter type="text" field="name" display="menu" placeholder="Search by Project name"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 5rem">
                            <div class="flex justify-content-between align-items-center">
                                %
                                <p-columnFilter type="numeric" field="progress" display="menu" ></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Tasks
                                <!--                                <p-columnFilter field="progress" matchMode="between" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">-->
                                <!--                                    <ng-template pTemplate="filter" let-filter="filterCallback">-->
                                <!--                                        <p-slider [ngModel]="progressValues" [range]="true" (onSlideEnd)="filter($event.values)" styleClass="m-3" [style]="{'min-width': '12rem'}" ></p-slider>-->
                                <!--                                        <div class="flex align-items-center justify-content-between px-2">-->
                                <!--                                            <span>{{progressValues[0]}}</span>-->
                                <!--                                            <span>{{progressValues[1]}}</span>-->
                                <!--                                        </div>-->
                                <!--                                    </ng-template>-->
                                <!--                                </p-columnFilter>-->
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Project Status
                                <p-columnFilter field="status" matchMode="equals" display="menu">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-dropdown [ngModel]="value" [options]="projectStatuses" (onChange)="filter($event.value)" placeholder="Any" [style]="{'min-width': '12rem'}" >
                                            <ng-template let-option pTemplate="item">
                                                <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Client
                                <p-columnFilter type="text" field="client.name" display="menu" placeholder="Search by client name"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 30rem">
                            <div class="flex justify-content-between align-items-center">
                                Description
                                <p-columnFilter type="text" field="name" display="menu" placeholder="Search by Project name"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">
                                Phase
                                <p-columnFilter field="phase.name" matchMode="equals" display="menu">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-dropdown [ngModel]="value" [options]="phases" (onChange)="filter($event.value)" placeholder="Any" [style]="{'min-width': '12rem'}" >
                                            <ng-template let-option pTemplate="item">
                                                <span [class]="'customer-badge phase-' + option.value.toLowerCase()">{{option.label}}</span>
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">
                                Phase Status
                                <p-columnFilter field="phase.status.name" matchMode="equals" display="menu">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-dropdown [ngModel]="value" [options]="phaseStatuses" (onChange)="filter($event.value)" placeholder="Any" [style]="{'min-width': '12rem'}" >
                                            <ng-template let-option pTemplate="item">
                                                <span [class]="'customer-badge ph   phaseStatus-' + option.value">{{option.label}}</span>
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>
                            </div>
                        </th>

                        <th style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">
                                Start Date
                                <p-columnFilter type="date" field="startDate" display="menu" placeholder="mm/dd/yyyy"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">
                                End Date
                                <p-columnFilter type="date" field="endDate" display="menu" placeholder="mm/dd/yyyy"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">
                                Delivery Date
                                <p-columnFilter type="date" field="deliveryDate" display="menu" placeholder="mm/dd/yyyy"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">
                                Actual Work Days
                                <p-columnFilter type="numeric" field="actualWorkDays" display="menu" ></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">
                                Estimated Work Days
                                <p-columnFilter type="numeric" field="estimatedWorkDays" display="menu" ></p-columnFilter>
                            </div>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>

<!--                <ng-template pTemplate="frozenheader">-->
<!--                    <tr>-->
<!--                        <th style="min-width: 12rem">-->
<!--                            <div class="flex justify-content-between align-items-center">-->
<!--                                Project Name-->
<!--                                <p-columnFilter type="text" field="name" display="menu" placeholder="Search by Project name"></p-columnFilter>-->
<!--                            </div>-->
<!--                        </th>-->
<!--                    </tr>-->
<!--                </ng-template>-->

                <ng-template pTemplate="body" let-project>
                    <tr >
                        <td class="font-bold" pFrozenColumn>
                            <div class="flex align-items-center justify-content-between">
                                <!-- Nom du projet à gauche -->
                                <span>{{ project.name }}</span>

                                <!-- Boutons côte à côte à droite -->
                                <div class="flex gap-2">
                                    <button pButton
                                            type="button"
                                            icon="pi pi-trash"
                                            class="p-button-rounded p-button-text p-button-sm p-button-danger project-access-btn"
                                            style="width: 1.8rem; height: 1.8rem; font-size: 0.7rem;"
                                            (click)="trashProject(project)">
                                    </button>
                                    <button pButton
                                            type="button"
                                            icon="pi pi-pencil"
                                            class="p-button-rounded p-button-text p-button-sm p-button-warning project-access-btn"
                                            style="width: 1.8rem; height: 1.8rem; font-size: 0.7rem;"
                                            (click)="editProject(project)">
                                    </button>
                                    <button pButton
                                            type="button"
                                            label="Access Project"
                                            class="p-button-text p-button-sm project-access-btn"
                                            style="font-size: 0.8rem; padding: 0.2rem 0.4rem;"
                                            (click)="accessProject(project)">
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td [ngClass]="{ 'red-text': project.progress > 100 }">
                            {{project.progress}} %
                        </td>
                        <td style="overflow: hidden;">
                            <div class="flex align-items-center justify-content-between" style="min-width: 0rem;">
                                <span title="Completed Tasks" style="cursor: pointer;" class="text-green-600 font-semibold">{{ getClosedTasksCount(project) }}</span>
                                <div style="position: relative; padding: 2px; flex: 1; z-index: 0;" class="progress-container">
                                    <p-progressBar [value]="getTaskProgress(project)" [showValue]="true" [style]="{'height': '0.8rem', 'font-size': '0.7rem', 'font-weight': 'bold'}"></p-progressBar>
                                </div>
                                <span title="Open Tasks" style="cursor: pointer;" class="text-blue-600 font-semibold">{{ getOpenTasksCount(project) }}</span>
                            </div>
                        </td>

                        <td >
                            <span *ngIf="project.status" [class]="'customer-badge status-' + project?.status.toLowerCase()">{{project.status}}</span>
                        </td>
                        <td>
                            <span class="font-bold">{{ project.client?.name }}</span><br>
                            <small class="text-sm text-muted">{{ project.client?.code }}</small>
                        </td>
                        <td>
                            {{project.description}}
                        </td>
                        <td [class]="'phase-' +project.phase?.name.toLowerCase().replace(' ', '_')" >
                            <span *ngIf="project.phase?.name" >
                                {{ project.phase?.name.replace('_',' ') }}
                            </span>
                        </td>
                        <td >
                          <span *ngIf="project.statusPhase?.name" [class]="'customer-badge phaseStatus-' + project.statusPhase?.name?.toLowerCase()">
                            {{ project.statusPhase?.name }}
                          </span>
                        </td>

                        <td>
                            {{project.startDate | date: 'MM/dd/yyyy'}}
                        </td>
                        <td>
                            {{project.endDate | date: 'MM/dd/yyyy'}}
                        </td>
                        <td>
                            <span >{{project.deliveryDate | date: 'MM/dd/yyyy'}}</span>
                        </td>
                        <td>
                            {{project.actualWorkDays }} days
                        </td>
                        <td>
                            {{project.estimatedWorkDays }} days
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                                        (click)="editProject(project)"></button>
                                <!-- <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProject(project)"></button> -->
                            </div>
                        </td>

                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No Projects found.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <br><br>
                    <tr>
                        <td colspan="8">Loading projects data. Please wait.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>
</div>

<p-dialog [(visible)]="projectDialog" [style]="{width: '700px'}" header="Project Details" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">

        <div class="field">
            <label for="name">Project Name*</label>
            <input type="text" pInputText id="name" [(ngModel)]="project.name" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !project.name}"/>
            <small style="color: red" class="ng-dirty ng-invalid" *ngIf="submitted && !project.name">Project Name is required.</small>
            <!--        server error for require name           -->
            <!--            <small style="color: red" class="ng-dirty ng-invalid" *ngIf="fieldErrors?.['name']">{{fieldErrors['name'] }}</small>-->
        </div>
        <div class="formgrid grid">
            <!-- Status Field -->
            <div class="field col-12 md:col-6">
                <label for="status">Project Status</label>
                <p-dropdown id="status" [(ngModel)]="project.status" [options]="projectStatuses" optionLabel="label" optionValue="value" placeholder="Select status" appendTo="body" styleClass="w-full">
                    <ng-template let-status pTemplate="item">
                        <span [class]="'customer-badge status-' + status.value">{{ status.label }}</span>
                    </ng-template>
                    <ng-template  let-status pTemplate="selectedItem">
                        <span [class]="'customer-badge status-' + status.value" *ngIf="status">{{ status.label }}</span>
                    </ng-template>
                </p-dropdown>
            </div>

            <!-- Actual Work Days Field-->
            <div class="field col-12 md:col-6">
                <label for="actualWorkDays">Actual Work Days</label>
                <input type="number" id="actualWorkDays" pInputText [(ngModel)]="project.actualWorkDays" placeholder="Number of actual work days"/>
            </div>
        </div>
        <div class="formgrid grid">
            <!-- Phase -->
            <div class="field col-12 md:col-6">
                <label for="phase">Phase</label>
                <p-dropdown id="phase" [(ngModel)]="project.phase.name" [options]="phases" optionValue="value" optionLabel="label" placeholder="Select phase" appendTo="body" styleClass="w-full"
                            [ngClass]="'phase-' + (project.phase.name?.toLowerCase()?.replace(' ', '_') || '')">
                    <ng-template let-phase pTemplate="item">
                        <span [class]="'customer-badge phase-' + phase.value.toLowerCase()" *ngIf="phase">{{ phase.label }}</span>
                    </ng-template>
                    <ng-template let-phase pTemplate="selectedItem">
                        <span  *ngIf="phase">{{ phase.label }}</span>
                    </ng-template>
                </p-dropdown>
            </div>

            <!-- Phase Status -->
            <div  class="field col-12 md:col-6">
                <label for="phaseStatus">Phase Status</label>
                <p-dropdown id="phaseStatus" [(ngModel)]="project.statusPhase.name" [options]="phaseStatuses" optionValue="value" optionLabel="label" placeholder="Select phase status" appendTo="body" styleClass="w-full">
                    <ng-template  let-status pTemplate="item">
                        <span [class]="'customer-badge phaseStatus-' + status.value">{{ status.label }}</span>
                    </ng-template>
                    <ng-template let-status pTemplate="selectedItem">
                        <span [class]="'customer-badge phaseStatus-' + status.value" *ngIf="status">{{ status.label }}</span>
                    </ng-template>
                </p-dropdown>
            </div>
        </div>
        <div class="field">
            <label for="name">Description</label>
            <textarea id="description" pInputTextarea [(ngModel)]="project.description" required rows="3" cols="20"></textarea>
        </div>
        <div class="formgrid grid">
            <div class="field col-12 md:col-4">
                <label for="startDate">Start Date</label>
                <p-calendar appendTo="body" id="startDate" dateFormat="mm/dd/yy" dataType="string" [showIcon]="true" inputId="icon" [(ngModel)]="project.startDate"></p-calendar>
            </div>
            <div class="field col-12 md:col-4">
                <!-- Mode Date -->
                <ng-container *ngIf="!useDuration">
                    <div class="flex justify-content-between align-items-center mb-2">
                        <label for="endDate" >End Date</label>
                        <a href="#" (click)="toggleDuration(true, $event)" style="font-size: 12px;">(Enter Duration)</a>
                    </div>
                    <p-calendar appendTo="body" id="endDate" dateFormat="mm/dd/yy" dataType="string" [showIcon]="true" [(ngModel)]="project.endDate"></p-calendar>
                </ng-container>

                <!-- Mode Duration -->
                <ng-container *ngIf="useDuration">
                    <div class="flex justify-content-between align-items-center mb-2">
                        <label for="duration" class="m-0">Duration (days)</label>
                        <a href="#" (click)="toggleDuration(false, $event)" style="font-size: 12px;">(Enter Date)</a>
                    </div>
                    <input type="number" id="duration" pInputText [(ngModel)]="project.estimatedWorkDays" placeholder="Enter number of days" />
                </ng-container>
            </div>

            <div class="field col-12 md:col-4">
                <label for="deliveryDate">Delivery Date</label>
                <p-calendar appendTo="body" id="deliveryDate" dateFormat="mm/dd/yy" dataType="string" [showIcon]="true" [(ngModel)]="project.deliveryDate"></p-calendar>
            </div>

        </div>
        <div class="field">
            <label for="clientId">Client</label>
            <p-dropdown [(ngModel)]="project.clientId"
                        id="clientId"
                        inputId="clientId"
                        [options]="clientsAffected"
                        optionValue="value"
                        optionLabel="label"
                        placeholder="Select the client"
                        appendTo="body"
                        styleClass="w-full"
            >
                <ng-template pTemplate="item" let-client >
                    {{ client.label}}
                </ng-template>
                <ng-template pTemplate="selectedItem" let-client>
                    <span *ngIf="client" >{{client.label}}</span>
                </ng-template>
            </p-dropdown>
        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProject()"></button>
    </ng-template>
</p-dialog>
